@page "/Orders"
@layout StoreLayout

@inject IHttpClientFactory _client

<PageTitle>Order Page</PageTitle>

<div class="d-flex justify-content-between align-items-center">

    <h5 id="Table-title">Manage Products</h5>

    <form class="input-group w-50" action="Post">
        <input type="text" class="form-control" placeholder="Find by SKU, GTIN or MPN">
        <span class="input-group-text">🔍</span>
    </form>

</div>

<a href="#" class="btn btn-light">Filter</a>
<NavLink href="/Categories/Create" activeClass="active" class="btn btn-light">+ Thêm mới</NavLink>

<div class="mt-3" style="max-height: 500px; overflow: auto;">
    <table class="table table-bordered">

        <thead class="table-light sticky-top">
            <tr>

                <th class="col-size-sm text-center align-middle sticky-start">
                    <input type="checkbox" name="" id="">
                </th>
                <th>Đơn hàng</th>
                <th>Khách hàng</th>
                <th>Ngày đặt</th>
                <th>Trạng thái</th>
                <th>Đã thanh toán</th>
                <th>Tổng tiền</th>
                <th class="col-size-sm sticky-end"></th>

            </tr>
        </thead>

        <tbody class="default-link">

            @if (orders == null || !orders.Any())
            {
                <tr>
                    <td class="text-center align-middle">
                        <input type="checkbox">
                    </td>
                    <td colspan="6"></td>
                    <td>
                        <div class="d-flex gap-1 m-0 position-relative">
                            <button type="button" class="btn btn-sm p-0">✏️</button>
                            <button type="button" class="btn btn-sm p-0">🗑️</button>
                        </div>
                    </td>
                </tr>
            }
            else
            {
                @foreach (var order in orders)
                {
                    <tr>
                        <td class="text-center align-middle">
                            <input type="checkbox">
                        </td>
                        <td>@order.OrderId</td>
                        <td>@order.AccountId</td>
                        <td>@order.OrderDate</td>
                        <td>@order.Status.ToString()</td>
                        <td>@(order.Completed ? "✓" : "-")</td>
                        <td>@order.Total đ</td>
                        <td>
                            <div class="d-flex gap-1 m-0 position-relative">
                                <button type="button" class="btn btn-sm p-0">✏️</button>
                                <button type="button" class="btn btn-sm p-0">🗑️</button>
                            </div>
                        </td>
                    </tr>
                }
            }

        </tbody>

        <tfoot class="sticky-bottom table-light">
            <tr class="default-link">

                <td class="text-center align-center">
                    <a href="">↻</a>
                </td>

                <td colspan="3">
                    <div class="d-flex justify-content-between align-items-center">

                        <ul class="d-flex gap-2 m-0 list-unstyled">
                            <li><button class="btn btn-sm btn-light">&lt;&lt;</button></li>
                            <li><button class="btn btn-sm btn-light" @onclick="PreviousPage">&lt;</button></li>

                            @for (int i = 1; i <= totalPage; i++)
                            {
                                <li>
                                    <button @onclick="() => ChangePage(i)" class="@(currentPage == i ? "fw-bold" : "") btn btn-sm btn-light">@i</button>
                                </li>
                            }

                            <li><button class="btn btn-sm btn-light" @onclick="NextPage">&gt;</button></li>
                            <li><button class="btn btn-sm btn-light">&gt;&gt;</button></li>
                        </ul>

                        <p class="m-0">
                            Đang hiển thị @((currentPage - 1) * pageSize + 1)-@(Math.Min(currentPage * pageSize, totalItems)) trong số @totalItems đơn hàng
                        </p>

                    </div>
                </td>

                <td>
                    <select class="form-select form-select-sm" @onchange="OnPageSizeChanged">
                        <option selected value="25">Hiện 25 dòng</option>
                        <option value="50">Hiện 50 dòng</option>
                        <option value="100">Hiện 100 dòng</option>
                        <option value="150">Hiện 150 dòng</option>
                        <option value="200">Hiện 200 dòng</option>
                    </select>
                </td>

                <td class="text-center align-center">
                    <button type="button" class="btn btn-sm btn-light">⚙</button>
                </td>

            </tr>
        </tfoot>

    </table>
</div>

@code {
    private List<OrderDto> orders = new List<OrderDto>();

    private int currentPage = 1;

    private int pageSize = 25;

    private int totalPage = 1;

    private int totalItems = 0;

    private decimal bulletNumber => totalPage;

    protected override async Task OnInitializedAsync()
    {
        orders = await PopulateList();
    }

    private async Task<List<OrderDto>> PopulateList()
    {
        OrderApi api = new OrderApi(_client.CreateClient("meta"));
        var response = await api.GetList(currentPage, pageSize);

        if (response.IsSuccess)
        {
            currentPage = response.Pagination.CurrentPage;
            pageSize = response.Pagination.PageSize;
            totalPage = response.Pagination.TotalPages;
            totalItems = response.Pagination.TotalCount;
            return response.Data;
        }
        else
        {
            return new List<OrderDto>();
        }
    }

    private async Task ChangePage(int page)
    {
        currentPage = page;
        orders = await PopulateList();
    }

    private async Task NextPage()
    {
        if (currentPage < totalPage)
        {
            currentPage++;
            orders = await PopulateList();
        }
    }

    private async Task PreviousPage()
    {
        if (currentPage > 1)
        {
            currentPage--;
            orders = await PopulateList();
        }
    }

    private async Task OnPageSizeChanged(ChangeEventArgs e)
    {
        pageSize = int.Parse(e.Value.ToString());
        orders = await PopulateList();
    }
}
